{% extends 'base.html.twig' %}

{% block title %}StackOverFlowers - home{% endblock %}

{% block body %}
<section class="container d-flex justify-content-between align-items-center gap-2 mt-3">
    <h2 class="display-6 fw-bold">All threads</h2>
    <div class="d-md-flex gap-2">
        <a href="/thread/new" class="btn btn-dark"><i class="fa-solid fa-plus pe-2" style="color: #ffffff;"></i>New thread</a>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Technologys
            </button>
            <ul class="dropdown-menu">
            {% for technology in technologys %}
                <li><a class="dropdown-item" href="#">{{ technology.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-dark"><i class="fa-solid fa-arrow-down-wide-short" style="color: #ffffff;"></i></button>
            <button class="btn btn-dark"><i class="fa-solid fa-arrow-up-short-wide" style="color: #ffffff;"></i></button>
        </div>
    </div>
</section>

<section class="container">
    {% for thread in pagination %}
        <div class="card my-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ thread.title }}</h5>
                    <span>{{ thread.postdate|date('d/m/Y') }}</span>
                </div>
                <p class="card-text py-2">{{ thread.content }}</p>
                <a href="{{ path('app_thread_show', {'id': thread.id}) }}" class="btn btn-dark">Go to thread<i class="fa-solid fa-arrow-right ps-3" style="color: #ffffff;"></i></a>
            </div>
        </div>
    {% endfor %}
</section>

{# <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> #}

<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
